/* #078b6c dark green color from Creating Positive Workplaces
 * https://cornell.app.box.com/s/7sgp9o6j5zzqjk02q5luqkopal3thzgc
 */

a { text-decoration:none ; color:#078b6c ; font-weight:bold }
a:hover, a:active { text-decoration:underline ; color:#078b6c }
body { font-family:"Segoe UI", Roboto, Arial, sans-serif ; margin:0 }

button { background:#078b6c ; color:#fff ; border:none ; border-radius:0.8em ; padding:0.5em 1em }
button:hover { cursor:pointer }

h1 { margin:0 ; font-size:135% ; font-weight:bold ; background:#078b6c ; color:#fff ; padding:3px 6px ; position:sticky ; z-index:99999999 ; top:0 }
h1 a { text-decoration:none ; color:#fff ! important }

#loading { height:100% ; padding:2em ; text-align:center ; vertical-align:center ; font-weight:bold }

#home { background:#fff ; color:#000 ; text-align:center ; display:none }
#home * { max-width:40em ; margin:0 auto }
#home img { width:100% ; max-width:400px }
#home div { padding:1em }
#home #goToSearch { font-size:150% }
#home div.cfp { background:#078b6c ; color:#fff ; padding:3px 6px ; font-size:150% }
#home div.cfp a { font-weight:bold ; text-decoration:underline ; color:#fff }

#home .language { background:#034536 ; color:#fff ; padding:3px 6px ; max-width:100% ; text-align:right }
.language a { color:#fff }

#search { float:float ; padding:0.5em 1% ; text-align:left ; display:none }
#q { width:20em ; clear:left }
.awesomplete { z-index:99999 ; font-family: Arial ; font-size:80% }
.awesomplete > ul { transition:none ; background:rgba(255,255,255,1) }
.awesomplete input { width:20em }
.awesomplete mark { background:none ! important ; font-weight:bold }

#browse { clear:both }
#browse > ul { font-weight:bold ; list-style-type:none ; margin:0 ; padding-left:0 ; padding-inline-start:0 }
#browse > ul > li { width:100% }
#browse > ul > ul { font-weight:normal ; margin-left:2em }
#browse a { color:#078b6c ; width:100% ; display:block }
#browse img { height:32px ; vertical-align:middle }

#results { clear:both ; width:30% ; float:left ; padding: 0 1% }
#results a { text-decoration:none ; color:#078b6c }
#results a:hover, #results a:focus { text-decoration:underline ; color:#078b6c }

#map { height:85% ; width:30% ; border:2px solid #000 ; display:none }

#item { width:35% ; padding:0 1% ; float:right }
#item > h2 { margin:0 ; text-align:left ; font-size:120% ; font-weight:bold }
#item dl { display:grid ; grid-template-columns:30% 70% ; margin:0 }
#item dt { grid-column-start:1 ; color:#aaa ; text-align:right ; vertical-align:top ; margin:3px 4px 0 0 ; font-size:85% }
#item dt:after { content:': ' }
#item dd { grid-column-start:2 ; margin:2px 0 0 }
#item ul { margin:0 ; padding:0 ; list-style-type:none }
#item ul li { margin:0 ; overflow-wrap:anywhere }
#item img { height:32px ; vertical-align:middle }

#footer { clear:both ; text-align:center ; padding:6px ; background:#078b6c ; color:#fff }
#footer img { max-width:90% ; border:2px solid #000 }
#footer a { color:#fff ; text-decoration:underline }



/* Below are additional styles for mobile devices and other small screens */

@media screen and (max-width:1230px) {

#home img:nth-of-type(1) { display:inline }
#home img:nth-of-type(2) { display:inline }
#home img:nth-of-type(3) { display:none }

}

@media screen and (max-width:820px) {

#home { background-image:none }
#home img:nth-of-type(1) { display:none }
#home img:nth-of-type(2) { display:inline }
#home img:nth-of-type(3) { display:none }

#search { width:100% ; float:none }

#restoreSearch { position:sticky ; top:1.85em }
#restoreSearch:hover { cursor:pointer }
#restoreSearch ul { font-weight:bold ; list-style-type:none ; xwidth:100% ; margin:2px 0 ; padding:3px 6px ; background:#034536 ; color:#fff }
#restoreSearch li { text-align:right }

#browse ul { list-style-type:none ; width:100% ; padding-inline-start:0 }
#browse > ul > li { background:#ddd }
#browse > ul > ul { margin-left:0 }
#browse li { border-top:2px solid #fff }
#browse > ul > ul > li { padding-left:2em ; background:#eee }

#results { width:100% ; float:none }
#results ul { list-style-type:none ; width:98% ; padding-inline-start:0 }
#results > ul > li { background:#ddd }
#results li { border-top:2px solid #fff ; padding:2px 1% }

#map { height:50vh ; width:100vw ; clear:both ; border-left:none ; border-right:none }

#item { width:98% ; padding:0 1% ; float:none ; clear:both ; position:initial }

}

